<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>

  <body>
    <!-- Add or remove "with-glare" class. Removing the glare makes the screen interactive -->

    <div class="css-mb with-glare">
      <div class="mb-display-position">
        <div class="mb-display">
          <div class="mb-screen-position">
            <div class="mb-screen">
              <!-- Image (aspect 16:10 recommended, but not required). You might also want to change or remove the background color, in case the picture is not big enough, or rendering is off  -->
              <img
                src="https://unsplash.imgix.net/photo-1418479631014-8cbf89db3431?fit=crop&fm=jpg&h=500&q=75&w=800"
                alt="example image"
              />
              <!-- Image By André Freitas from unsplash.com -->

              <!-- Youtube - don't forget to remove glare -->
              <!-- <iframe width="960" height="480" src="https://www.youtube.com/embed/GUEZCxBcM78?rel=0&amp;showinfo=0&amp;iv_load_policy=3&amp;controls=2" frameborder="0"></iframe> -->
              <!-- Notice: Youtube has some toruble with embed players and gives consol errors -->

              <!-- Iframe, simple website - don't forget to remove glare -->
              <!-- <iframe src="http://example.com" frameborder="0"></iframe> -->
            </div>
          </div>
        </div>
      </div>
      <div class="mb-body"></div>
      <div class="mb-bottom-cover"></div>
      <h1><%= name %></h1>
    </div>
    <script></script>
  </body>
</html>
